.container{
    max-width: 1200px;
    background-color: antiquewhite;
    margin: 0 auto;
    margin-top: 60px;
}

.slider{
    max-width: 80%;
    border: solid 2px black;
    margin: 30px auto;
    overflow: hidden;
    max-height: 600px;
}
.slider-line{
    background-color: orange;
    display: flex;
    max-height: 400px;
    transition: all ease 0.8s;
}
.buttons{
    margin-top: 20px;
    display: flex;
    column-gap: 20px;
    row-gap: 20px;
}
.button{
    width: 200px;
    height: 40px;
    background-color:rgb(144, 74, 143);
    border: none;
    cursor: pointer;
    transition: all .4s;
    border-radius: 7px;
    text-transform: uppercase;
    color: white;
}
.button:hover {
    background-color: rgb(124, 74, 143);;
}